.profile__info {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
}

@media screen and (max-width: 879px) {
  .profile__info {
    align-items: center;
    gap: 10px;
  }
}
