.elements__button {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like-vector.svg);
  background-size: cover;
  border: none;
  background-color: #ffffff;
}

.elements__button:hover {
  opacity: 0.5;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
