.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 879px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
  }
}
