.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 67px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  column-gap: 17px;
  row-gap: 20px;
}
