.elements__button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-vector.svg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border: none;
  background-color: #FFFFFF;
}

.elements__button:hover {
  opacity: 0.5;
  transition: opacity 0.4s ease;
}
