.popup__container {
  max-width: 430px;
  padding: 34px 36px 37px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}

@media screen and (max-width: 619px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
