.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 879px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
  }
}
